@import "../../index.scss";

.input-container {
	input {
		width: min(185px, 100%);
		// width: 100%;
		min-height: 35px;
		padding: 0 10px;
		// margin: 1px;
		background-color: $bg-color-primary;
		filter: contrast(90%);
		color: $text-color-secondary;
		border: 1px solid black;
		overflow-wrap: normal;
		text-wrap: wrap;
	}
	input[type="date"] {
		// display: block;
		// width: 100px;
	}

	input:focus {
		color: $text-color-primary;
	}
}

.input-secondary-container {
	width: 100%;

	.input-component {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		width: 85%;
		border: none;
		border-bottom: 1px solid #472f2f;
		margin: 10px 0;
		padding-bottom: 10px;
		padding-left: 5px;

		&::placeholder {
			color: #472f2f;
		}
	}
}
