@import '../../index.scss';

.input-container{
    input{
        width: 185px;
        height: 35px;
        padding: 0 10px;
        background-color: $bg-color-primary;
        filter: contrast(90%);
        color: $text-color-secondary;
        border: 1px solid black;
    }
    input:focus{
        color:$text-color-primary;
    }
    
}