@import "../../index.scss";

h3{
	
}
.medicine-list-container {
    height: 400px;
    // background-color: rgba(134, 52, 134, 0.267);
    position: relative;

	.list {
		height: 250px;
	}
	.file-upload {
		// display: flex;
		// flex-direction: column;
		// justify-content: space-between;
		margin: 20px 0;
		.row1 {
            display: flex;
            text-wrap: nowrap;
			label {
				padding: 1px 2px;
                // word-break: keep-all;
                // word-break: normal;
                
				font-size: 14px;
				// border: 1px solid $text-color-secondary;
				background-color: $text-color-ternary;
				color: $text-color-secondary;
				margin-right: 5px;
				cursor: pointer;
                
				input[type="file"] {
					display: none;
				}
			}
			> P {
				font-size: 12px;
                width: 100%;
                padding-right: 60px;
                height: 20px;
                overflow: hidden;
			}
		}

		.prescription-upload {
            float: left;
			margin: 3px 0;
			width: fit-content;
			padding: 0 5px;
			font-size: 14px;
			filter: contrast(60%);
			border: 1px sold $text-color-secondary;
            cursor: pointer;
		}
	}

	.submit-btn {
		position: absolute;
		bottom: 0px;
		right: 0px;
	}
}
