@import "../../index.scss";

.bg-blur-container {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	// filter: blur(3px);
	backdrop-filter: blur(6px);
	z-index: 3;
}
.add-medicine-container {
	text-align: start;
	width: 90%;
	min-height: 70%;
	padding: 30px 10px;
	position: absolute;
	top: 150px;
	left: 50%;
	translate: -50% 0;
	z-index: 4;
	border-radius: 30px;
	// box-shadow: rgba(122, 122, 122, 0.3) 0px 19px 38px, rgba(122, 122, 122, 0.22) 0px 15px 12px;
	box-shadow: -6px 8px 10px 5px #0000007a;
	background-color: $bg-color-secondary;
	filter: contrast(120%);

	> h2 {
		margin-top: 20px;
		// margin-bottom: 50px;
		text-align: center;
		font-size: 26px;
	}
	> form {
		padding: 50px 20px;
		padding-bottom: 20px;
		// z-index: inherit;
		// text-align: center;
		.row1 {
			Input {
				margin-bottom: 10px;
				width: 85%;
			}
			// display: flex;
			// flex-direction: column;
		}
		.row2 {
			margin-top: 60px;
			margin-bottom: 20px;
			// display: flex;

			.select-option {
				display: flex;
				// align-items: center;
				justify-content: space-between;
				font-size: 14px;
				margin-bottom: 15px;
				.col {
					display: flex;
					align-items: center;
					input {
						height: 14px;
					}
				}
			}
			Input {
				// width: 75%;
				// padding-right: 5px;
			}

			p {
				font-size: 12px;
				padding: 10px 10px;
			}
		}
	}
	.check-due{
		background-color: aqua;
		margin-left: 20px;
	}

	> p {
		font-weight: 400;
		margin-bottom: 20px;
		padding-left: 20px;
		span {
			font-weight: 700;
			font-size: 18px;
			padding-left: 10px;
		}
	}
	.add-to-list {
		// text-align: end;
		display: flex;
		justify-content: end;
		:first-child {
			// display: none;
		}
	}
}
