@import "../../index.scss";

.base-button-container {
	button {
		// width: 140px;
		padding: 8px 15px;
		background-color: $bg-color-ternary;
		color: $bg-color-secondary;
		border-radius: 12px;
		border: 1px solid black;
		font-size: 18px;
		font-weight: 500;
		margin: 20px;
	}
	button:hover {
		filter: contrast(130%);
	}
}

.back-button-container {
	display: flex;
	justify-content: end;
	align-items: center;
	padding: 5px;
	button {
		width: 22px;
		height: 22px;
		font-size: 18px;
		border-radius: 3px;
		background-color: red;
		color: white;
		border: none;
	}
	button:focus {
		scale: 0.9;
	}
}

.home-button-container {
	button {
		width: 150px;
		height: 70px;
		color: $text-color-secondary;
		background-color: $bg-color-secondary;
		filter: contrast(110%);
		border-radius: 12px;
		border: 1px solid black;
		font-size: 20px;
		font-weight: 500;
	}
	button:hover {
		filter: contrast(120%);
		border: 1px solid $text-color-ternary;
	}
}
