@import "../../index.scss";

.home-container {
	height: 100%;
	// background-color: beige;
	text-align: center;
	// h1 {
	// 	 background-color: $bg-color-secondary;
	// 	padding: 15px 0px;
	// }
	.btn-container {
		margin-top: 100px;
		margin-inline: auto;
		width: fit-content;
		// background-color: bisque;
		
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 20px 40px;
		// place-content: center;
		// place-self: center;
		
		button {
			// margin: 30px;
			// padding: 30px;
		}
	}
}
