@import "../../index.scss";

.home-container {
	height: 100%;
	// background-color: beige;
	text-align: center;
	// h1 {
	// 	 background-color: $bg-color-secondary;
	// 	padding: 15px 0px;
	// }
	.btn-container {
		margin-top: 150px;
		button {
			margin: 30px;
			// padding: 30px;
		}
	}
}
