	$bg-color-primary: #282424;
	// $bg-color-secondary: #2b3c4a;
	$bg-color-secondary: #144D5F;
	$bg-color-ternary: #5f8036;
	

	$text-color-primary: white;
	$text-color-secondary: #a39e9e;
	$text-color-ternary: rgb(68, 67, 67);