	$bg-color-primary: hsl(0, 5%, 15%);
	$bg-color-secondary: #2b3c4a;
	$bg-color-ternary: #9cb380;


	$text-color-primary: white;
	$text-color-secondary: rgb(163, 158, 158);
	$text-color-ternary: rgb(68, 67, 67);