@import "../../index.scss";

.header-container {
	width: 100%;
	// background-color: $bg-color-secondary;
	// filter: contrast(120%);
	background-color: #144d5f;
	padding-top: 10px;
	// padding-bottom: 1px;
	text-align: center;
	// position: -webkit-sticky;
	// position: sticky; //TODO: make it's parent as body for stick on top
	top: 0;
	left: 0;
	z-index: 3;

	font-size: 16px;

	.logout {
		i:hover{
			cursor: pointer;
		}

    }

	.row1 {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 20px;
	}
	.nav {
		width: fit-content;
		margin-left: auto;
		display: flex;
		gap: 15px;
		padding-bottom: 8px;
		margin-right: 10px;

		li {
			list-style: none;

			&:hover {
				cursor: pointer;
			}
		}
	}
}
