@import '../../index.scss';

.new-data-container{
    text-align: center;

    .customer-details{
        $height:35px;
        display: flex;
        justify-content: center;
        padding-top: 15px;        

        .col1{

        }
        .col2{
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            select{
                width: 185px;
                height: 35px;
                background-color: $bg-color-primary;
                filter: contrast(90%);
                border: 1px solid black;
                color: $text-color-secondary;
                font-size: 12px;
                padding: 0 10px;
            }
        }
    

    }

    .medicine-details{

        margin-top: 25px;
        // background: violet;
        .add-medicine{
        }

    }
    
}