
	.add-medicine-container {
		width: 90%;
		height: 75%;
        // z-index: 1;
		// filter: blur(1px);
		background-color: rgb(43, 75, 77);
		position: absolute;
		top: 55%;
		left: 50%;
		translate: -50% -50%;
		// margin: 50% auto;
	}